// app global css
.my-card
  width: 100%;
  max-width: 700px;
  padding: 4px;

.centralDiv{
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.divPrincipal{
  max-width: 900px;
  margin: auto;
}

.backgroundTextoPopup{
  border-radius: 10px; 
  background-color: #ffcc80 
}

.backgroundCardColor{
  border-radius: 10px !important;; 
  background-color: #4fc3f7;
}

.scrollArea{
  height: calc(100% - 150px);
  margin-top: 150px; 
  border-right: 1px solid #ddd;
}


.fabCenter{
  height: 75px
  width: 75px
  bottom: 20px; 
  left: calc(50% - 20px)
  z-index: 3000
}

.iconFabCenter {
  font-size: 50px !important;
}

.fabBack{
  left: calc(50% - 70px)
  bottom: 35px; 
  z-index: 3000
}
.fabRight{
  right: 18px; 
  bottom: 60px; 
  z-index: 10
}

.fabLeft{
  left: 18px; 
  bottom: 60px; 
  z-index: 10
}
