// app global css
.my-card
  width: 100%;
  max-width: 700px;
  padding: 4px;

.centralDiv{
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.divPrincipal{
  max-width: 900px;
  margin: auto;
}

.scrollArea{
  height: calc(100% - 150px);
  margin-top: 150px; 
  border-right: 1px solid #ddd;
}

.fabRight{
  right: 18px; 
  bottom: 60px; 
  z-index: 10
}

.fabLeft{
  left: 18px; 
  bottom: 60px; 
  z-index: 10
}
  