// app global css
.my-card
  width 100%
  max-width 250px

.centralDiv{
  margin: auto;
  width: 50%;
}

.fabRight{
  right: 18px; 
  bottom: 60px; 
  z-index: 10
}

.fabLeft{
  left: 18px; 
  bottom: 60px; 
  z-index: 10
}
  